body {
    padding-bottom: 40px;
    background-color: #eeeeee;
}

.container {
	text-align: center;
}

input.form-control,
select.form-control{
	width: 300px;
	margin: 0 auto;
}

#weather{
	margin: 20px 0;
}

#weather .cityName{
	font-size: 45px;
}
#weather .temp{
	font-size: 30px;
}

#weather .temp img{
	width: 35px;
}

#weather .sky{
	font-size: 30px;
}

#weather .wind{
	font-size: 30px;
}